<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProximityPOC.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1CC8E3B643FC5889F0C03663AC0BCC7A738EF7D5</string>
				<key>dateExpires</key>
				<string>06/05/2021</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>A463UQ3R7S.pt.fraunhofer.2near</string>
				<key>com.apple.developer.team-identifier</key>
				<string>A463UQ3R7S</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>A463UQ3R7S.pt.fraunhofer.2near</string>
				</array>
			</dict>
			<key>name</key>
			<string>2Near.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4293cd79-0dbc-4cd4-bd7b-38366a047e9b</string>
				<key>name</key>
				<string>2Near Ad-hoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>A463UQ3R7S</string>
				<key>name</key>
				<string>Fraunhofer Portugal</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
